---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="Topics" pageDesc="Search by topic or see all posts">
    <ul>
      {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
    </ul>
  </Main>
  <div class="all-posts-btn-wrapper">
    <LinkButton href="/posts/">
      All Posts
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
        ></path>
      </svg>
    </LinkButton>
  </div>
  <Footer />
</Layout>

<style>
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
